@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

@layer components{
    .button{
        @apply bg-violet-700 py-2 px-4 rounded-lg text-white text-base font-semibold
        hover:opacity-80 duration-200
    }
}